<hello name="{{ name }}"></hello>
<p>Start editing to see some magic happen :)</p>

<div class="parent">
  <div #ChildOne class="child">
    <div  class="childOne">
      <button
        class="btn-child"
        styleParent
        className="displayOnFocus"
        [parentReference]="ChildOne"
      >
        Focusable
      </button>
    </div>
  </div>
</div>
<br>
<hr>
<div class="pressable-container">
  <a (click)="toggleDisplay()">Display Or Hide</a>
  <p *ngIf="displayText">Displied or hide on click</p>
  
</div>
